@mixin animation($name, $duration: 0.2s, $time-function: ease, $delay: 0s) {
  animation: #{$name} #{$duration} #{$time-function} #{$delay};
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}
@mixin flex(
  $justify-content: center,
  $align-items: center,
  $flex-direction: row,
  $flex-wrap: nowrap
) {
  display: flex;
  flex-wrap: #{$flex-wrap};
  justify-content: #{$justify-content};
  align-items: #{$align-items};
  flex-direction: #{$flex-direction};
}
@mixin transition($time: 0.5s, $time-function: ease, $target: all) {
  transition: #{$target} #{$time-function} #{$time};
}
@mixin size($width: max-content, $height: max-content) {
  width: $width;
  height: $height;
}
@mixin max-size($max-width: auto, $max-height: auto) {
  max-width: $max-width;
  max-height: $max-height;
  width: 100%;
  height: 100%;
}
