// colors

$primary-color: #98A8F8;

$primary-color-light: #BCCEF8;

$text-color: #7D7B78;

$text-color-mobile: #ABA9A7;

$text-color-light: #ABA9A7;

$pink-color: #FFA0A0;

$black-color: #000000;

$contrast-color: #FAF7F0;

$white-color: #ffffff;

$body-color-mobile: #F9FAFF;

$banner-gradient: linear-gradient(180deg, rgba(152, 168, 248, 0.2) 0%, rgba(250, 247, 240, 0.2) 100%);

$recomendation-gradient: linear-gradient(103.38deg, rgba(152, 168, 248, 0.2) 1.74%, rgba(255, 109, 109, 0.2) 109.16%);

$border-color: rgba(152, 168, 248, 0.2);

$border-color-light: rgba(152, 168, 248, 0.1);

// font-size

$fz-text-mobile: 7px;

$fz-small: 10px;

$fz-text: 12px;

$fz-medium-mobile: 14px;

$fz-medium: 16px;

$fz-big-mobile: 20px;

$fz-big: 24px;

$fz-title: 32px;

// font-family

$font-family: 'Work Sans', sans-serif;

// font-weight

$fw-big: 600;

$fw-small: 400;