// colors

$primary-color: #98a8f8;

$primary-color-light: #bccef8;

$text-color: #7d7b78;

$text-color-mobile: #aba9a7;

$text-color-light: #aba9a7;

$pink-color: #ffa0a0;

$black-color: #000000;

$contrast-color: #faf7f0;

$white-color: #ffffff;

$body-color-mobile: #f9faff;

$recomendation-gradient: linear-gradient(
    103.38deg,
    rgba(152, 168, 248, 0.2) 1.74%,
    rgba(255, 109, 109, 0.2) 109.16%
);

$border-color: rgba(152, 168, 248, 0.2);

// font-size

$fz-text-mobile: 7px;

$fz-small: 10px;

$fz-text: 12px;

$fz-medium-mobile: 14px;

$fz-medium: 16px;

$fz-big-mobile: 20px;

$fz-big: 24px;

$fz-title: 32px;

// font-family

$font-family: "Work Sans", sans-serif;

// font-weight

$fw-big: 600;

$fw-small: 400;
