.menu {
    display: flex;
    align-items: center;
    gap: 40px;
    ul {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}

.category {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    padding: 13px 20px 13px 65px;
    background: #98a8f8;
    border-radius: 5px;
    &::after {
        content: "";
        position: absolute;
        bottom: -13px;
        left: 30px;
        border: 7px solid transparent;
        border-top: 7px solid #98a8f8;
        border-radius: 2px;
    }
}

.title {
    color: #faf7f0;
}

.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    padding-right: 15px;
    background: #faf7f0;
    padding-left: 10px;
    top: 80px;
    gap: 10px;
    right: 0;
    max-height: 0;
    transition: max-height 0.5s ease;
    border-bottom-left-radius: 5px;
    &::-webkit-scrollbar {
        width: 5px;
        background: rgba(152, 168, 248, 0.5);
        border-radius: 5px;
        padding-right: 1px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background: #98a8f8;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 7px;
    }
}

.contentActive {
    max-height: 350px;
    @media (max-width: 930px) {
        max-height: 473px;
    }
    @media (max-width: 879px) {
        max-height: 512px;
    }
}

.contentTitle {
    color: #7d7b78;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    &:hover {
        .circle {
            background: #98a8f8;
        }
        p {
            color: #98a8f8;
        }
    }
}

.circle {
    width: 4px;
    height: 4px;
    background: #7d7b78;
    border-radius: 10px;
    transition: background 0.5s ease;
}
