.text {
    font-size: 12px;
    font-weight: 600;
    color: #7d7b78;
    transition: 0.5s, ease, all;
    &_hover {
        &:hover {
            color: #98a8f8;
        }
    }
}

.textMobile {
    font-size: 7px;
    font-weight: 600;
    color: #98a8f8;
    transition: 0.5s, ease, all;
}
