.recomendation {
    padding-top: 15px;
    grid-row-start: 2;
    grid-row-end: 2;
}

.title {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.line {
    flex-basis: 52%;
    height: 1.5px;
    background: linear-gradient(
        103.38deg,
        rgba(152, 168, 248, 0.2) 1.74%,
        rgba(255, 109, 109, 0.2) 109.16%
    );
    border-radius: 5px;
    @media (max-width: 930px) {
        flex-basis: 40%;
    }
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(
        103.38deg,
        rgba(152, 168, 248, 0.2) 1.74%,
        rgba(255, 109, 109, 0.2) 109.16%
    );
    padding: 17px;
    border-radius: 5px;
}
.price {
    position: absolute;
    bottom: 28px;
    left: 18px;
    @media (max-width: 930px) {
        bottom: 15px;
        left: 10px;
    }
}

.priceOld {
    text-decoration: line-through;
    font-weight: 400;
    line-height: 100%;
}

.priceNew {
    color: #000000;
    line-height: 100%;
}
